<h1>Courses</h1>

<hr />
<h2><%= @courses.length <= 0 ? "No Courses" : "" %></h2> 
<ul>
  <% @courses.each do |course| %>
    <li>
     <h2> <%= link_to course.name, course %></h2>
    </li>
  <% end %>
</ul>
